@import "tailwindcss";

/* Datatype */
@font-face {
    font-family: 'Datatype';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("../fonts/datatype.ttf") format("truetype");
}

@theme {
    --font-sans: "Datatype", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-main-bg: #ffffff;
    --color-main-surface: #f9fafb;
    --color-main-border: #e2e8f0;
    --color-aside: #e2e8f0;
    --color-aside-border: #ccd3db;
    --color-header-bg: #bfcfe350;

    --color-main-text: #7f7f93;

    --color-primary: #6b35ae;
}

/* Detección automática del sistema */
@media (prefers-color-scheme: dark) {
  :root {
    --color-main-bg: #09090b;
    --color-main-surface: #121214;
    --color-main-border: #27272a;
    --color-aside: #1f1f2c;
    --color-aside-border: #2c2c34;
    --color-header-bg:#2e263a50;
  }
}

button {
  @apply bg-primary hover:scale-105  disabled:bg-primary/50;
}
.btn-sm{
  @apply w-full flex justify-center py-3 px-4 border border-transparent rounded-lg shadow-md text-sm font-bold text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50 disabled:cursor-not-allowed transition-all;
}
.auth-card{
  @apply flex flex-col gap-4 bg-aside p-8 max-w-sm z-10 w-full rounded-2xl ;
}
