@import "tailwindcss";

/* Datatype */
@font-face {
    font-family: 'Datatype';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("../fonts/datatype.ttf") format("truetype");
}

@theme {
    --font-sans: "Datatype", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-main-bg: #ffffff;
    --color-main-surface: #f9fafb;
    --color-main-border: #e2e8f0;
    --color-aside: #e2e8f0;
    --color-aside-border: #ccd3db;
    --color-header-bg: #bfcfe350;

    --color-main-text: #7f7f93;
}

/* Detección automática del sistema */
@media (prefers-color-scheme: dark) {
  :root {
    --color-main-bg: #09090b;
    --color-main-surface: #121214;
    --color-main-border: #27272a;
    --color-aside: #1f1f2c;
    --color-aside-border: #2c2c34;
    --color-header-bg:#26263a50;
  }
}